* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url(img/lol-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header {
  text-align: center;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-bottom: 10px;
}

header h1 {
  font-size: 35px;
}

header p {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: #252320;
}

a:visited {
  color: #252320;
}

.stream-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 1080px;
}

.stream-list__stream {
  width: 23%;
  background: rgba(204, 204, 204, 0.925);
  margin: 15px;
  border: 2px black solid;
  border-radius: 5px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  display: inline-block;
  vertical-align: middle;
}

.stream-list__stream:hover {
  transform: scale(1.1);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  border: 2px black solid;
  border-radius: 5px;
}

.stream__preview>img {
  width: 100%;
  border-radius: 3px;
  background-position: center;
  background-size: corver;
  background-repeat: no-repeat;
}

.stream-avatar {
  display: flex;
  width: 100%;
  padding: 5px;
}

.stream-avatar__logo>img {
  width: 40px;
  height: auto;
  border-radius: 100%;
}

.stream-avatar__avatar-info {
  width: calc(100% - 40px);
  padding-left: 10px;
}

.avatar-info__status {
  width: 100%;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width:1000px) {
  .stream-list__stream{
    width:40%;
  }
}

@media screen and (max-width:700px){
  .stream-list__stream{
    width:70%;
  }
}